/* GLOBAL */
head, .content, .contentbutton, footer {
	background: #ffffff;
	color : #003a49;
	letter-spacing: 120;
	font-family: 'Roboto-Medium', Arial;
	margin-left: 100px;
	margin-right: 100px;
}

/* NAVBAR */
nav{
	top: 0px;
	background: #ffffff;
	color : #003a49;
	letter-spacing: 120;
	font-family: 'Roboto-Medium', Arial;
	position: fixed;
	width: 100%;
}

nav, td p{
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
}

#tablenav {
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
}

.ico{
	height: 15px;
	width: 15px;
}

.liennav{
	color: #003a49;
	text-decoration: none;
	margin-left: 45px;
}

.liennav:hover, .liennav:active{
	color: #f14928;
	border-bottom: 1px solid;
	border-color: #f14928;
}

.navlist{
	list-style-type: none;
}

.navlist li{
	display: inline;
}

.navleft{
	justify-content: flex-start;
}

.navright{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.navright div{
	display: flex;
	flex-wrap: nowrap;
}

.icoborder{
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #003a49;
}

#ico1, #ico2, #ico3, #ico4{
	display: flex;
	flex-wrap: nowrap;
	background-color: black;
	height: 15px;
	width: 15px;
}

#ico1:hover{
	background-color: grey;
}

#ico1:nothover{
	background: url('/Projets/Lokahi/images/ico-search.png');
}

#ico2:hover{
	background-color: grey;
}

#ico2:nothover{
	background: url('/Projets/Lokahi/images/ico-account.png');
}

#ico3:hover{
	background: url('/Projets/Lokahi/images/ico-cart-orange-petit.png');
}

#ico3:nothover{
	background: url('/Projets/Lokahi/images/ico-cart.png');
}

#ico4:hover{
	background: url('/Projets/Lokahi/images/ico-heart-orange-contour.png');
}

#ico4:nothover{
	background: url('/Projets/Lokahi/images/ico-heart-bleu-contour.png');
}
/* HEADER */
header {
	color : #003a49;
	letter-spacing: 120;
	text-align: center;
	line-height: 55px;
	font-family: 'Roboto-Medium', Arial;
}

#headerphilo{
	background-image: url('../images/lokahiboards--header-default');
	height: 120px;
}



/* CONTENT */
p {
	font-size: 14pt;
	color : #003a49;
	font-family: Arial;
}

h1 {
	font-size: 30pt;
	color: #ffffff;
}

h2, h3, h4, h5, h6 {
	color : #003a49;
	font-family: 'Roboto-Medium', Arial;
}

h2 {
	font-size: 26pt;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 18pt;
}

h5 {
	font-size: 16pt;
}


.liencorps {
	color: #f14928;
	text-decoration: none;
}

.liencorps:hover {
	color: #003a49;
	text-decoration: none;
}

.contentbutton{
	display: flex;
	flex-wrap: nowrap;
}

button{
	background-color: #003a49;
	color: #ffffff;
	border: 2px solid;
	border-color: #003a49;
	text-align: center;
}

button:hover, button:active{
	background-color: #ffffff;
	color: #f14928;
	border: 2px solid;
	border-color: #f14928;
}

/* INDEX */
#headerindex{
	width: 100%;
	height: 400px;
}

/* FOOTER */
footer{
	display: flex;
	flex-wrap: nowrap;
	border-top: 1px solid;
	border-color: gray;
	align-items: center;
	justify-content: space-around;
}

.tetefoot{
	display: flex;
	flex-wrap: nowrap;
	font-size: 8pt;
}

footer div p{
	font-size: 8pt;
	color : #003a49;
	font-family: 'Roboto-Medium', Arial;
}

textarea{
	text-align: center;
	resize: none;
	background-color: lightgray;
	color: gray;
}

.lienfooter{
	font-size: 8pt;
	color: #003a49;
	text-decoration: none;
}

.lienfooter:hover, .lienfooter:active{
	font-size: 8pt;
	color: #f14928;
	text-decoration: none;
}


#newsfoot{
	justify-content: flex-start;
}

#pagesfoot{
	justify-content: flex-end;
}

#contactfoot{
	justify-content: flex-end;
}